.select {
  padding: 2px 26px;
  background: transparent;
  color: #ca8e46;
  margin: 0px 15px 0px 0px;
}

.select option {
  font-size: 20px;
  font-weight: 500;
  background-color: #ca8e46;
  border: 1px solid black;
  color: white;
}
.logo {
  width: 48px;
}
