.select {
  padding: 0px 15px;
  background: transparent;
  color: white;
  margin: 0px 15px 0px 0px;
  border: 1px solid #ca8e46;
}
.select:hover {
  background-color: #ca8e46;
  color: white;
  transition: 0.4s;
}
.logo {
  width: 55px;
}
#subheader h4 {
  margin-bottom: 25px !important;
  font-size: 80px !important;
  z-index: 0 !important;
}
.cir-back {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.199);
}
.tit-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0px;
  background-color: rgba(0, 0, 0, 0.199);
}
.tit-cont h1 {
  padding: 10px 30px;
  margin: 0;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
@media only screen and (max-width: 767px) {
  .select {
    padding: 0px 8px;
    margin: 0px 26px 6px 0px;
  }
}
@media (min-width: 768px) and (max-width: 993px) {
  .select {
    padding: 0px 8px;
    margin: 0px 171px 13px 0px;
  }
}
